:root {
    --primary-color: #3d5467;
    --secondary-color: #f1edee;
    --accent1-color: #686963;
    --accent2-color: #6f1a07;
    --text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-content: space-around;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header a {
    text-decoration: var(--text-decoration);
    display: block;
    padding: 15px;
}

body {
    max-width: 1000px;
}

h1 {
    color: var(--primary-color);
    font-family: "Kanit";
}

h2 {
    color: var(--primary-color);
    font-family: "Montserrat";
}

p {
    color: var(--primary-color);
}

div h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    opacity: 0.75;
    padding: 1% 50px;
}

div article {
    position: absolute;
    background-color: var(--secondary-color);
    top: 8rem;
    left: 10%;
    right: 10%;
    padding: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

div article img {
    width: 150px;
    height: auto;
    float: right;
}

.hero {
    position: relative;
}


.hero > img {
    width: 100%;
    height: auto;
}

/* History Section*/



.historygroup {
    width: 100%;
    align-items: center;
}

.historygroup h2 {
    justify-self: center;
    left: 0;
    right: 0;
}

.historygroup article {
    display: flex;
}

.historygroup p {
    font-size: 1rem;
}


/* Adventure Awaits You Section */

.adventure {
    width: 100%;
}

.adventure h2 {
    justify-self: center;
}

.adventure div {
    /*width: 100%;*/
    display: flex;
    justify-content: space-around;
}

.adventure img {
    width: 150px;
    height: 100px;
}

.adventure figcaption {
    text-align: center;
}

/* Footer Section */

footer {
    text-decoration: var(--text-decoration);
    display: grid;
    grid-template-columns: 1fr 300px;
}

footer nav {
    justify-content: space-around;
}

footer a {
    padding: 15px;
}

.happy {
    width: 100%;
    display: flex;
}

.happy img {
    width: 8rem;
    height: 7rem;
}

.happy figcaption {
    text-align: center;
}

.tittles h1, h2 {
    color: red;
}