:root {
    --primary-color: #3d5467;
    --secondary-color: #f1edee;
    --accent1-color: #686963;
    --accent2-color: #6f1a07;
    --text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    justify-content: space-around;
}

header nav {
    display: flex;
    flex-wrap: wrap;
}

header a {
    text-decoration: var(--text-decoration);
    display: block;
    padding: 15px;
}

body {
    max-width: 1000px;
}

h1 {
    color: var(--primary-color);
    font-family: "Kanit";
}

h2 {
    color: var(--primary-color);
    font-family: "Montserrat";
}

p {
    color: var(--primary-color);
}

div h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    background-color: var(--secondary-color);
    opacity: 0.75;
    padding: 1% 50px;
}

div article {
    position: absolute;
    background-color: var(--secondary-color);
    top: 8rem;
    left: 10%;
    right: 10%;
    padding: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

div article img {
    width: 150px;
    height: auto;
    float: right;
}

.hero {
    position: relative;
}


.hero > img {
    width: 100%;
    height: auto;
}

/* History Section*/

.historygroup {
    display: block;
    position: relative;
}


/* Adventure Awaits You Section */

section img {
    width: 100%;
}


/* Footer Section */

footer {
    text-decoration: var(--text-decoration);
}