:root {
    --height-img: auto;
    --text-align: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: var(--height-img);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 750px;
}

aside {
    width: 24rem;
    margin: 1rem;
    border: 2px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
}

aside img {
    width: 200px;
    height: var(--height-img);
}

footer {
    margin-top: 15px;
    border-top: 1px solid black;
    text-align: var(--text-align);
}